<h3>Accounts List</h3>
<ol class="breadcrumb" id="trail">
  <li><a id="home" href="#" class="rel-home">Admin Home</a></li>
  <li><a id="accounts" href="#" class="rel-accounts">Accounts</a></li>
</ol>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Accounts</div>
  <!-- Table -->
  <table class="table" id="accounts">
    <thead>
      <tr>
        <th>Id</th>
        <th>Slug</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Admin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id">1</td>
        <td class="slug"><a href="dummy"></a></td>
        <td class="name"><a href="dummy"></a></td>
        <td class="created_at">Time</td>
        <td class="updated_at">Time</td>
        <td class="admin">Admin</td>
      </tr>
    </tbody>
  </table>
</div>
