<div id="login">
  <div class="container">
    
    <form class="form-signin" role="form"
          action="/login" method="post">
      <h2 class="form-signin-heading">Please sign in</h2>
      <input type="text" class="form-control" placeholder="Login name"
             autofocus name="username"/>
      <input type="password" class="form-control" placeholder="Password" name="password"/>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    
  </div> <!-- /container -->
</div>
