<div id="entries-list">
  <ol class="breadcrumb" id="trail">
    <li><a id="home" href="#">Home</a></li>
    <li class="active">List</a>
  </ol>
  <form name="input" action="/list" method="post">
    <button type="submit" class="btn btn-primary">New item</button>
  </form>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Entries</div>
    
    <!-- Table -->
    <table class="table" id="entries">
      <thead>
        <tr>
          <th>Id</th>
          <th>Link</th>
          <th>Edit</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="id">1</td>
          <td class="link"><a href="dummy"></a></td>
          <td class="edit-link"><a href="dummy"></a></td>
          <td class="data">Some Data</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="edit-entry">
<ol class="breadcrumb" id="trail">
  <li><a id="home" href="#">Home</a></li>
  <li><a id="list" href="#">List</a></li>
  <li class="disabled"><a id="self" href="#">Item</a> - edit</li>
</ol>
<form name="edit-entry" action="/list/id-fill-in" method="post"
      class="form-horizontal" role="form">
  <input type="hidden" id="_method" name="_method" value="put" />
  <div class="form-group">
    <label for="id" class="col-sm-2 control-label">Id</label>
    <div class="col-sm-10">
      <p id="id" class="form-control-static">1</p>
    </div>
  </div>
  <div id="group-data" class="form-group">
    <label for="data" class="col-sm-2 control-label">Data</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="data" name="entry/data"
             placeholder="Data" />
      <span class="help-block error"></span>
      <span class="help-block">Normal help message goes here</span>

    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</form> 
</div>
<div id="show-entry">
<ol class="breadcrumb" id="trail">
  <li><a id="home" href="#">Home</a></li>
  <li><a id="list" href="#">List</a></li>
  <li class="active">Item - <a id="edit" href="#">edit</a></li>
</ol>
<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd id="id"></dd>
  <dt>Data</dt>
  <dd id="data"></dd>
</dl>
</div>
