<div>Admin Users List</div>
<ol class="breadcrumb" id="trail">
  <li><a id="home" href="#" class="rel-home">Admin Home</a></li>
  <li><a id="users" href="#" class="rel-users">Users</a></li>
</ol>
<p><a href="" class="btn btn-primary rel-new-user">New user</a></p>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Users</div>
  
  <!-- Table -->
  <table class="table" id="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>Slug</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="id">1</td>
        <td class="slug"><a href="dummy"></a></td>
        <td class="name"><a href="dummy"></a></td>
        <td class="created_at">Time</td>
        <td class="updated_at">Time</td>
        <td class="edit"><a href="">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
