<div>Admin User</div>
<ol class="breadcrumb" id="trail">
  <li><a id="home" href="#" class="rel-home">Admin Home</a></li>
  <li><a id="users" href="#" class="rel-users">Users</a></li>
  <li>user</li>
</ol>
<div class="btn-toolbar" role="toolbar">
  <div class="btn-group"><a href="" class="btn btn-primary rel-edit">Edit</a></div>
  <div class="btn-group"><form name="delete-form" id="delete-form" class="form-inline" role="form"><button type="submit" class="btn btn-danger rel-delete" onclick="javascript:return confirm('Are you sure?');">Delete</button>
    </form></div>
</div>
<div class="user-panel">
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label">Id</label>
      <div class="col-sm-10">
        <p class="form-control-static" id="id"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Slug</label>
      <div class="col-sm-10">
        <p class="form-control-static" id="slug"><a href=""></a></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static" id="name"><a href=""></a></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Created at</label>
      <div class="col-sm-10">
        <p class="form-control-static" id="created_at"></p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Updated at</label>
      <div class="col-sm-10">
        <p class="form-control-static" id="updated_at"></p>
      </div>
    </div>
  </form>
</div>
